*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif!important;
}
body{
    background: url('/img/bg.png') no-repeat center, radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
}
.wrap{
    margin: 0 auto;
}
img{
    border-radius: 10px;
}
.navbar{
    height: 107.82px;
    color: white;
    background-color: #ED7200;
    box-shadow: 0px 4px 35px rgb(162, 58, 0, 0.75);
}
.navbar-brand{
    position: relative;
    left: 201px;
}
.nav-item{
    padding: 0 15px;
    margin: 0 40px;
}
.nav-link{
    color: white!important;
}
.navbar-text{
    position: relative;
    right: 331.5px;
}
.active{
    border: 2px solid white;
    font-weight: bold;
    border-radius: 33px;
}
main{
    height: 100vh;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 27px rgba(180, 106, 38, 0.25);
}
.formGen{
    background-color: #FFF6D4;
    border-radius: 20px;
}
.content{
    height: 100%;
    border: 3px dashed #FFB489;
    border-radius: 20px;
}
.event_content{
    column-count: 3;
    column-gap: 30px;
}

.event_content img{
    width: 288px;
    height: 208px;
    margin-bottom: 20px;
}

.formDatVe{
    background-color: #FFF6D4;
    border-radius: 20px;
    width: 600px;
}
.formDatVe input, .formLienHe input, .formLienHe textarea{
    border: none;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 15px;
    padding: 12px;
}
.form-control:focus{
    color: unset!important;
    box-shadow: none!important;
}
.price{
    color: #FA7D09;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 48px;
}
p.text-muted{
    margin: 0;
}

.info{
    max-width: 450px;
}

.info .box{
    max-width: 560px;
    background-color: #FFF6D4;
    padding: 5px 17px;
    margin-bottom: 4rem;
    border-radius: 30px;
}
.info .box .box-with-dashed{
    padding: 1rem;
    border: 3px dashed #FFB489;
    border-radius: 30px;
}

.modal-header {
    border-bottom: 0 none!important;
}
.modal-content{
    border-radius: 24px!important;
}
.modal-body{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-top: 0!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.btn-close-orange{
    color: #FF8A00!important;
    opacity: 1!important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fc0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
